.title {
  margin-bottom: 20px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323f47;
}
.span {
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .mainBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
