.welcomFont {
  background: #f0eff4;
  border-radius: 30px;
  width: 343px;
  height: 411px;
  padding: 16px;
  position: relative;
  margin-bottom: 16px;
}

.logoContainer {
  position: absolute;
  top: 24px;
  left: 16px;
}

.box {
  margin-top: 118px;
  width: 311px;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.06em;
  color: #2f2f2f;
  margin-bottom: 16px;
}

.title {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 32px;
}

.links {
  display: flex;
  gap: 10px;
  margin-bottom: 67px;
}

.linkGreen {
  border-radius: 30px;
  padding: 14px 19px;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  height: 46px;
  color: #323f47;
  background-color: #9be1a0;
}

.linkGreen:hover {
  background-color: #87d28d;
}

.linkWhite {
  border-radius: 30px;
  padding: 12px 24px;
  line-height: 24px;
  border: 1px solid#323F47;
  width: 104px;
  height: 46px;
  font-size: 14px;
  font-weight: bold;
  color: #323f47;
  margin-left: 10px;
  background-color: transparent;
}

.linkWhite:hover {
  color: #87d28d;
  border-color: #87d28d;
}

/* -------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .welcomFont {
    width: 704px;
    height: 498px;
    padding: 32px;
  }

  .logoContainer {
    top: 32px;
    left: 32px;
  }

  .box {
    margin-top: 74px;
    width: 547px;
    height: 342px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 150%;
  }

  .title {
    font-size: 64px;
    line-height: 109%;
  }

  .links {
    gap: 16px;
    margin-bottom: 50px;
  }

  .linkGreen {
    padding: 18px 36px;
    font-size: 16px;
    line-height: 24px;
    width: 169px;
    height: 60px;
  }

  .linkWhite {
    padding: 18px 36px;
    font-size: 16px;
    width: 135px;
    height: 60px;
  }
}

/* ------------------------------------- */
@media screen and (min-width: 1440px) {
  .welcomFont {
    width: 672px;
    height: 736px;
    margin-bottom: 0;
    padding: 32px;
  }

  .box {
    width: 547px;
    margin-top: 156px;
    margin-left: 32px;
  }

  .logoContainer {
    position: absolute;
    top: 32px;
    left: 32px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 24px;
  }

  .title {
    width: 547px;
    height: auto;
    font-size: 80px;
    line-height: 76px;
  }

  .links {
    margin-bottom: 188px;
  }

  .linkGreen {
    padding: 18px 36px;
    font-size: 16px;
    line-height: 24px;
    width: 169px;
    height: 60px;
  }

  .linkGreen:hover {
    background-color: #87d28d;
  }

  .linkWhite {
    padding: 18px 36px;
    font-size: 16px;
    width: 135px;
    height: 60px;
  }

  .linkWhite:hover {
    color: #87d28d;
    border-color: #87d28d;
  }
}
