.fontSection {
  background-image: url('../../assets/images/RectangleM.jpg');
  border-radius: 30px;
  width: 343px;
  background-size: cover;
  padding: 20px;
}

.listBtn {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: 119px;
  margin-top: 12px;
}

.btnHabit {
  border: none;
  border-radius: 30px;
  padding: 9px 12px;
  width: 83px;
  height: 26px;
  background: #323f47;
  font-weight: 600;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #ffffff;
  cursor: not-allowed;
}

.ellipse {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 8px;
  top: 20%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #9be1a0;
}

.btnView {
  border-radius: 30px;
  border: none;
  padding: 9px 12px;
  width: 90px;
  height: 26px;
  background: #9be1a0;
  font-weight: 700;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  cursor: not-allowed;
}

.btnPersonal {
  border-radius: 30px;
  padding: 9px 12px;
  width: 120px;
  height: 26px;
  background: #ffffff;
  font-weight: 700;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  border: none;
  cursor: not-allowed;
}

.listStylesImg {
  border-radius: 30px;
  width: 188px;
  height: 48px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-top: 209px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .fontSection {
    background-image: url('../../assets/images/RectangleT.jpg');
    width: 704px;
    height: 466px;
    padding: 32px;
  }

  .listStylesImg {
    display: flex;
    border-radius: 30px;
    width: 237px;
    height: 67px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-top: 265px;
  }

  .textParagraph {
    width: 90px;
  }

  .listItemHabit {
    margin-left: -22px;
  }

  .ellipse {
    left: 16px;
  }

  .btnHabit {
    padding: 11px 11px 16px 28px;
    width: 111px;
    height: 34px;
    font-weight: 700;
    font-size: 12px;
  }
  .btnView {
    padding: 11px 16px;
    width: 130px;
    height: 34px;
    font-size: 12px;
  }
  .btnPersonal {
    padding: 11px 16px;
    width: 170px;
    height: 34px;
    font-size: 12px;
  }

  .listBtn {
    gap: 10px;
    margin-top: -30px;
    margin-left: 380px;
  }
}

@media only screen and (min-width: 1440px) {
  .fontSection {
    background-image: url('../../assets/images/RectangleD.jpg');
    width: 672px;
    height: 736px;
  }

  .listStylesImg {
    width: 237px;
    height: 67px;
    margin-top: 537px;
    margin-left: 16px;
    padding: 10px 10px 10px 5px;
  }

  .listBtn {
    margin-top: -30px;
    margin-left: 385px;
    width: 242px;
    height: 78px;
  }

  .btnView {
    padding: 11px 14px;
    width: 121px;
    height: 34px;
    font-size: 12px;
  }

  .btnPersonal {
    width: 158px;
    height: 34px;
    font-size: 12px;
  }

  .ellipse {
    left: 16px;
  }

  .btnHabit {
    padding: 11px 11px 16px 28px;
    width: 111px;
    height: 34px;
    font-size: 12px;
  }
}
